body {
  padding: 0;
  margin: 0;
  background: #222;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 350px;
}

svg text {
  font-size: 200px;
  fill: rgba(0, 0, 0, .1);
  stroke-width: 1px;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-dasharray: 80;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  100% { stroke-dashoffset: 160px }
}