body {
  padding: 0;
  margin: 0;
  background: #222;
}

svg {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

svg .cls-1 {
  stroke: #ccc;
  stroke-width: 4px;
  fill: transparent;
  stroke-dasharray: 2325;
  stroke-dashoffset: 2325;
  animation: animate 5s forwards infinite;
}

@keyframes animate {
  to { stroke-dashoffset: 0; }
}
svg .cls-1 {}